@media (max-width: 1700px) {
}

@media (max-width: 1366px) {
	//*main-newCollection
	.collection {
		grid-template-columns: repeat(3, 1fr);
		&__images {
			width: 100%;
		}
	}
	.map {
		margin-top: 0;
	}
}

@media (max-width: 1200px) {
	//* main
	.top {
		&__inner::after {
			height: 566px;
		}
		&__slider-title {
			font-size: 68px;
			line-height: 80px;
		}
		&__slider-img {
			max-height: 640px;
		}
	}
}

@media (max-width: 992px) {
	//* footer
	.footer {
		&__info {
			width: 380px;
		}
	}
	//* gallery
	.gallery {
		&__btn {
			margin: 0;
			padding: 6px 14px;
		}
		&__items {
			grid-gap: 10px;
		}
	}
	//* ABOUT
	.about {
		&__text {
			padding-left: 0;
		}
		&__content {
			padding: 40px 0;
		}
	}
}

@media (max-width: 840px) {
	//* main
	.top {
		&__inner::after {
			height: 480px;
		}
		&__slider-title {
			font-size: 50px;
			line-height: 62px;
		}
		&__slider-img {
			max-height: 540px;
		}
	}
	//*main-newCollection
	.collection {
		grid-template-columns: repeat(2, 1fr);
	}
	//*main-works-path
	.works-path {
		&__item {
			width: 350px;
		}
		&__item--production {
			margin-left: 50px;
		}
	}
	//* contact slider
	.contact {
		&__wrapper {
			margin-left: 0;
		}
	}
}

@media (max-width: 768px) {
	//* header
	.header {
		&__btn-img {
			width: 80%;
			margin-left: auto;
		}
	}
	.menu__list-item {
		margin-left: 0;
		& + .menu__list-item {
			margin-right: 0;
		}
	}
	.logo {
		margin: 0;
	}
	//* main-decor
	.decor {
		padding: 70px 0 55px 0;
		&__title {
			font-size: 50px;
			line-height: 62px;
			&:after {
				width: 200px;
			}
		}
		&__text {
			max-width: 530px;
		}
	}
	//*main-works-path
	.works-path {
		&__item--measuring {
			margin-left: 100px;
		}
	}
	//* gallery
	.gallery {
		&__buttons {
			display: grid;
			margin: 0 auto 40px;
			max-width: 576px;
		}
		&__btn {
			padding: 6px 16px;
			margin-bottom: 10px;
		}
	}
	//* ABOUT
	.about {
		&__prev {
			padding: 100px 0;
		}
		&__prev-title {
			font-size: 50px;
			line-height: 62px;
		}
	}
	//* about inspiration
	.inspiration {
		&__inner {
			margin-left: 0;
		}
		&__images {
			display: none;
			margin-right: 0;
		}
		&::after {
			height: 343px;
		}
	}
	//* contact slider
	.map {
		iframe {
			height: 378px;
		}
	}
}

@media (max-width: 670px) {
	//* main
	.top {
		.slick-slide img {
			display: none;
		}
		&__inner {
			padding: 25px 0;
		}
		&__inner::after {
			height: 190px;
		}
		&__slider-title {
			font-size: 50px;
			line-height: 62px;
		}
		&__slider-text {
			margin-bottom: 15px;
		}
	}
	//*rightSideMenu
	.rightside-menu {
		max-width: 375px;
		padding-top: 15px;
		&.rightside-menu--close {
			transform: translateX(150%);
		}
		&__close {
			margin-left: 15px;
			margin-bottom: 40px;
			width: 15px;
			height: 15px;
		}
		&__content {
			max-width: 300px;
		}
		&__logo {
			margin-bottom: 30px;
			width: 70%;
		}
		&__title {
			font-size: 33px;
			line-height: 40px;
			margin-bottom: 12px;
			padding-bottom: 12px;
		}
		&__text {
			margin-bottom: 75px;
			font-size: 14px;
		}
		&__images {
			max-width: 300px;
		}
	}
	//* footer
	.footer {
		&__inner {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__info {
			width: 100%;
			margin-bottom: 50px;
		}
		&__info-text {
			max-width: 100%;
		}
		&__social {
			margin-left: auto;
		}
		&__menu {
			margin-left: auto;
			margin-right: auto;
		}
	}
	//*main-works-path
	.works-path {
		&__items-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			border-bottom: none;
			&:before {
				display: none;
			}
		}
		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 80%;
		}
		&__item-img {
			margin-bottom: 10px;
		}
		&__item--production {
			order: 1;
		}
		&__item--production {
			margin-left: 0;
			padding-bottom: 0;
			order: 3;
			&:after {
				display: none;
			}
		}
		&__item--measuring {
			padding-top: 0;
			padding-bottom: 38px;
			margin: 0 auto;
			order: 2;
			&:before {
				display: none;
			}
		}
	}
	//* main block-box
	.blog-box {
		&__items {
			display: block;
		}
		&__item {
			margin-bottom: 30px;
		}
		&__img-link {
			display: block;
		}
		&__img {
			width: 100%;
		}
	}
	//* about inspiration
	.inspiration {
		&::after {
			height: 370px;
		}
	}
	.slick-dots {
		li {
			padding-right: 10px;
		}
	}
}

@media (max-width: 540px) {
	//* header
	.logo {
		order: -1;
	}
	.header {
		&__btn img {
			width: 70%;
			margin-left: auto;
		}
	}
	.menu {
		display: none;
	}
	//*rightSideMenu
	.rightside-menu {
		max-width: 260px;
		padding-top: 15px;
		&__close {
			margin-bottom: 0px;
		}
		&__content {
			display: none;
		}
		&__content-menu {
			display: block;
			max-width: 200px;
		}
		&__logo {
			margin-bottom: 50px;
			width: 50%;
		}
		&__list-link {
			text-transform: uppercase;
		}
		&__images {
			max-width: 200px;
			margin-top: 60px;
		}
	}
	//*main-newCollection
	.new-collection {
		&__title {
			font-size: 28px;
			line-height: 36px;
			padding-bottom: 15px;
			margin-bottom: 15px;
			&::after {
				width: 100px;
			}
		}
	}
	.collection {
		grid-template-columns: repeat(1, 1fr);
	}
	//* main-decor
	.decor {
		padding: 70px 0 55px 0;
		&__title {
			font-size: 40px;
			line-height: 52px;
		}
	}
	//*main-works-path
	.works-path {
		&__title {
			font-size: 28px;
			line-height: 36px;
		}
		&__item {
			width: 100%;
		}
	}
	//* gallery
	.gallery {
		&__items {
			grid-template-columns: repeat(2, 1fr);
		}
		&__item:first-child {
			grid-column: span 1;
			grid-row: span 2;
		}
		&.gallery-page {
			.gallery__item:nth-child(8) {
				grid-column: span 1;
				grid-row: span 1;
			}
			.gallery__item:nth-child(9) {
				grid-column: span 1;
				grid-row: span 2;
			}
		}
	}
	//* main block-box
	.blog-box {
		&__item-title {
			font-size: 20px;
			line-height: 30px;
		}
		&__title {
			font-size: 28px;
			line-height: 36px;
		}
	}
	.about {
		&__prev {
			padding: 80px 0;
		}
		&__prev-title {
			font-size: 40px;
			line-height: 52px;
		}
		&__title {
			font-size: 28px;
			line-height: 36px;
		}
	}
	//* about inspiration
	.inspiration {
		&__title {
			font-size: 28px;
			line-height: 36px;
		}
	}
	//* contact slider
	.contact {
		padding-bottom: 50px;
		&__title {
			font-size: 28px;
			line-height: 36px;
		}
		&__form {
			grid-template-columns: 1fr;
			grid-template-rows: 40px 40px 125px 40px;
		}
		&__form-area {
			grid-column: span 1;
		}
	}
	.contact-slider {
		padding-bottom: 50px;
	}
}

@media (max-width: 360px) {
	//* footer
	.footer {
		&__form {
			display: block;
		}
		&__form-button {
			width: 100%;
			margin-left: 0;
			margin-top: 10px;
		}
	}
	//* main-decor
	.decor {
		padding: 70px 0 55px 0;
		&__title {
			font-size: 28px;
			line-height: 36px;
		}
	}
	//* gallery
	.gallery {
		&__items {
			grid-template-columns: repeat(1, 1fr);
		}
		&__item:first-child {
			grid-row: span 1;
		}
	}
	.blog-box {
		&__item-title {
			font-size: 18px;
			line-height: 28px;
		}
	}
	.about {
		&__prev-title {
			font-size: 28px;
			line-height: 36px;
		}
	}
	//* about inspiration
	.inspiration {
		&::after {
			height: 424px;
		}
	}
	//* contact slider
	.contact {
		&__form-btn {
			width: 100%;
		}
	}
	.contact-slider {
		&__item {
			width: 100%;
			height: 100%;
		}
	}
	.slick-dots {
		li {
			padding-right: 2px;
		}
	}

}

@media (max-width: 320px) {
	//* about inspiration
	.inspiration {
		&::after {
			height: 498px;
		}
	}
}
